joblib==1.4.2
numpy==1.25.0
pandas==2.0.3
matplotlib
streamlit==1.44.1
rich
markdown-it-py==3.0.0
mdurl==0.1.2
pygments==2.19.1
shap==0.47.2
Pillow
gdown
scikit-learn==1.2.2
cython==0.29.36
scipy==1.10.1
wheel==0.40.0

